h1 {
  font-style: italic;
  color: #8fbc8f;
  text-align: center;
  }

body{
  background-color: #e5fff6;
}

h2{
  font-style: italic;
  font-family: fantasy;

}

ol{
  list-style-type: lower-greek;
}

ul{
  list-style-type: kannada;
}

h3 {
  font-family: cursive;
}
